@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-color: #006cff;
  z-index: -1; /* Ensure the background is behind other elements */
}
